# Ignore all data files
*.parquet

#Ignore transaction history file
data/bronze/transactions_history_final.csv
data/bronze/transactions_history.csv

# Ignore virtual environments and cache
venv/
__pycache__/
.ipynb_checkpoints/
