# Ignore all data files
*.parquet
Data Storm 7.0 - Second Round Commencement.pdf
Problem Statement - 2nd Round.pdf

#ignore virtual_documents
.virtual_documents/

#Ignore transaction history file
data/bronze/transactions_history_final.csv
data/bronze/transactions_history.csv

# Ignore virtual environments and cache
venv/
__pycache__/
.ipynb_checkpoints/

# Environment files
.env
.env.example
